{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<style>
    input {
        height: 5vh;
        width: 65%;
    }
    .login_button {
        width: 70%;
        height: 3em;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-size: 12pt;
        font-weight: 700;
        font-family: 'EliceDigitalBaeum-Bd';
    }
    .kakao_login_button {
        /* a 태그 밑줄 없애기 */
        text-decoration-line: none;
        /* a 태그 높이값, 가로값 넣기 */
        display: inline-block;
        width: 65.5%;
        height: 4vh;
        color: black;
        background: #f6e213;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b8ab25;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-size: 12pt;
        font-weight: 700;        
    }
    .kakao_logo{
        width:15%;
        float: left;
    }
    /* 엘리스디지털배움체 */
    @font-face {
        font-family: 'EliceDigitalBaeum-Bd';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        }
</style>

<div style="text-align: center; margin-top: 40%; font-family: 'Noto Sans KR', sans-serif; font-size: 13pt;">
    
    <a href="{% url 'main' %}">
        <img src="{% static 'img/website_logo.png' %}" style="width: 60%; margin-bottom: 10%;">
    </a>

    {% trans "" %}
    <div style="border-width: 2%;">
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
        {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
        {% endif %}
        <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
            <p>
                <input type="text" name="login" placeholder="아이디" autocomplete="username" maxlength="150" required="" id="id_login">    
            </p>
            <p>
                <input type="password" name="password" placeholder="비밀번호" autocomplete="current-password" required="" id="id_password">
            </p>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="login_button">{% trans "로그인" %}</button>
            <br><br>
            <a href="{% provider_login_url 'kakao' %}" class="kakao_login_button">
                <img src="{% static 'img/kakao_logo.png' %}" class="kakao_logo">
                <div style="margin-top: 1.5%; font-family: 'EliceDigitalBaeum-Bd'; margin-right: 7%;">카카오로 간편 로그인</div>
            </a>
            <br><br>
            <div class="login-or">{% trans '' %}</div>
    </div>
        <div style="font-family: 'EliceDigitalBaeum-Bd';">
            <p>{% blocktrans %}계정이 없으시면,
                <a href="{{ signup_url }}">회원가입</a>을 먼저해주세요.{% endblocktrans %}</p>    
        </div>
        </form>
</div>
{% endblock %}