{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<!--한글 폰트 -->
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gamja+Flower&family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
<style>
    .registerbutton {
        background-color: #04AA6D;
        border-radius: 5pt;
        width: 75%;
        height: 3em;
        font-size: 12pt;
        font-family: 'EliceDigitalBaeum-Bd';
    }
    .font {
        margin-bottom: 10%;
        font-size: 23pt;
        font-weight: bold;
    }
    input {
        width: 70%;
        height: 5vh;
    }
    label {
        float: left;
        margin-left: 14%;
    }
    /* 엘리스디지털배움체 */
    @font-face {
        font-family: 'EliceDigitalBaeum-Bd';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    .form-control {
        margin-bottom: 10%;
    }
</style>

<a href="{% url 'main' %}" style="margin-left: 15%; margin-top: 35%;"><img src="{% static 'img/website_logo.png' %}" style="width: 70%; margin-bottom: 10%;"></a>

<div style="text-align: center; margin-top: 8%;" >
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="font-family: 'EliceDigitalBaeum-Bd';">
        {% csrf_token %}
        <label for="id_username">아이디</label>
        <br>
        <input type="text" class="form-control" id="id_username" placeholder="입력해주세요" name="username">
        <br>
        <label for="id_email">E-mail</label>
        <br>
        <input type="email" class="form-control" id="id_email" placeholder="입력해주세요" name="email">
        <br>
        <label for="id_password1">비밀번호</label>
        <br>
        <input type="password" class="form-control" id="id_password1" placeholder="입력해주세요" name="password1">
        <br>
        <label for="id_password2">비밀번호 재확인</label>
        <br>
        <input type="password" class="form-control" id="id_password2" placeholder="입력해주세요" name="password2">
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="registerbutton">{% trans "가입하기" %}</button>
    </form>
</div>
{% endblock %}