{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<style>
    .registerbutton {
        background-color: #04AA6D;
        border-radius: 5pt;
        width: 75%;
        height: 3em;
        font-size: 12pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
    }
    .font {
        margin-bottom: 10%;
        font-size: 23pt;
        font-weight: bold;
    }
  
    input {
        width: 70%;
        height: 5vh;
    }
    
    label {
        font-size: 10pt;
        margin-left: 11%;
    }
    form {
        margin-left: 12%;
    }
</style>
<a href="{% url 'main' %}" style="margin-left: 15%; margin-top: 35%;"><img src="{% static 'img/website_logo.png' %}" style="width: 65%; margin-bottom: 10%;"></a>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
    <p>
        <label for="id_username">아이디</label>
        <input type="text" name="username" placeholder="아이디를 입력해주세요" autocomplete="username" minlength="1" maxlength="150" required id="id_username">
    </p>
    <p>
        <label for="id_email">E-mail</label>
        <input type="email" name="email" placeholder="이메일을 입력해주세요" autocomplete="email" id="id_email">
    </p>
    <p>
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required id="id_password1">
    </p>
    <p>
        <label for="id_password2">비밀번호 재확인</label>
        <input type="password" name="password2" placeholder="다시 입력해주세요" autocomplete="new-password" required id="id_password2">
    </p>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="registerbutton">{% trans "회원가입" %} &raquo;</button>
</form>
{% endblock %}