<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병해 정보</title>
</head>
<body>
    <div>
        {{ data.diseasename }}
    </div>
    <div>
        {{ data.englishname }}
    </div>
    <div>
        {{ data.symptom }}    
    </div>
    <div>
        {{ data.environment }}
    </div>
    <div>
        {{ data.precaution }}  
    </div>
</body>
</html>