<form action="" method="POST"> {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">식물 추가 요청하기</h5>
        <button type="button" class="cloase" data-dismiss="modal" aria-label="Close">&times;</button>
    </div>

    <div class="modal-body">
        <div>
            {{ form.requestname }}
        </div>
        <div>
            {% for message in messages %}
                {% if message.tags == 'alert-error' %}
                    <b>{{ message }}</b>
                {% endif %}
            {% endfor %}
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="submit" class="submit-btn btn btn-primary">요청하기</button>
    </div>
</form>